<h1 class="specialHead">{{title}}</h1>

<div class="paddingDiv"></div>
<div class="articleDiv">
  <table class="articleTable">
    <tr>
      <th>Topic</th>
      <th>Number of Posts</th>
      <th>Author</th>
      <th>Most Recent Post</th>
    </tr>
    {{#data}}
    <tr>
      <td>{{title}}</td>
      <td>{{count}}</td>
      <td>{{name}}</td>
      <td>{{date}}</td>
    </tr>
    {{/data}}
  </table>
</div>
