
<div class="paddingDiv"></div>

<br>

<div class="articleDiv">
   <h1 class="specialHead">{{title}}</h1>
      <a href="/users/newthread/{{article_id}}">
         <button class="btn btn-primary" name="button">+ Start a new thread</button>
      </a>
<br><br>

 <table class="articleTable">
   <tr>
     <th>Topic</th>
     <th>Author</th>
     <th>Number of Posts</th>
     <th>Most Recent Post</th>
   </tr>
   {{#data}}
   <tr>
     <td><a href='/users/questions/{{question_id}}'>{{title}}</a></td>
     <td><a href='/users/profile/{{user_id}}'>{{name}}</a></td>
     <td>{{count}}</td>
     <td>{{date}}</td>
   </tr>
   {{/data}}
 </table>

</div>
