
<div class="paddingDiv"></div>
<div class="paddingDiv"></div>

<div class="dashDiv">
  <h1 class="specialHead">Edit User:</h1>

  <form action="/users/profile/{{user.id}}/edit/edituser/{{user.id}}'" method="post">
    <table class="dashTable">
      <tr>
        <th>Name:</th>
        <td><input type="text" name="name" value="{{user.name}}" width="130px"></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><input type="email" name="email" value="{{user.email}}" width="130px"></td>
      </tr>
    <tr>
      <th>GitHub Profile:</th>
      <td><input type="text" name="github_profile_url" value="{{user.github_profile_url}}" width="130px"></td>
    </tr>
  </tr>
  <th>Biography</th>
  <td><input type="text" name="biography" value="{{user.biography}}" width="130px"></td>
</tr>
</tr>
<th>Profile Picture</th>
<td><img src="{{user.portrait_url}}" alt="" class="smallProfPic"/><br><br>
  <strong>Enter Image URL:</strong><br><br>
  <input type="text" name="portrait_url" value="{{user.portrait_url}}" width="200px"></td><br>
</tr>
<tr class="buttonRow"><td colspan="2"><input type="submit" name="name" value="Submit Changes" class="submitButton"></td></tr>
</tr>
</table>
</form>

</div>
