<div class="paddingDiv">
</div>

<div class="articleDiv">
  <h1 class="specialHead">Viewing thread: '{{thread_title}}'</h1>
  <a href="/users/newreply/{{thread_id}}">
    <button class="btn btn-primary" name="button">+ Post a reply</button>
  </a>
  <br><br>
  <table class="articleTable">
    <tr>
      <th>User</th>
      <th>Body</th>
      <th>Date</th>
    </tr>
    {{#data}}
      <tr>
        <td><a href='/users/profile/{{user_id}}'>{{name}}</a></td>
        <td>{{body}}</td>
        <td>{{created_at}}</td>
        {{#if ../adminStatus}}
        <td><a href='/users/confirmdelete/replies/{{reply_id}}'>Delete</a></td>
        {{/if}}
      </tr>
    {{/data}}
  </table>
</div>
