
<div class="containerDiv">
  <h1 class="specialHead">Users</h1>
</br>
<hr>

{{#users}}
{{this.name}}
</br>
{{this.github_profile_url}}
</br>
{{this.portrait_url}}
</br>
{{this.email}}
</br>
{{this.created_at}}
</br>
{{this.biography}}
</br>
{{this.superpower_id}}
</br>
{{this.admin}}
</br>
</br>
{{/users}}

</div>
